{% extends 'basefront2.html.twig' %}
{% block content %}
    <div class="post">
        <div class="ptitle">
            <h2>   Payement
            </h2>
        </div>
        <div>
            <a href="" ><img src="{{ asset('bundles/front/images/mvola.jpg') }}" /></a>
            &nbsp;&nbsp;
            <a href="" ><img src="{{ asset('bundles/front/images/paypal.png') }}" /></a>

        </div>
    </div>
{% endblock %}