{% extends 'basefront2.html.twig' %}
{% block content %}
    <div class="post">
        <div class="ptitle">
            <h2>   Payement
            </h2>
        </div>
        <div>
            <a href="" ><img src="" /></a>
            &nbsp;&nbsp;
            <a href="" ><img src="" /></a>

        </div>
    </div>
{% endfor %}