{% extends 'basefront2.html.twig' %}
{% block content %}
<div id="homepost">





    <div id="datemeta">
        <div id="datemeta_l"><b>Published On:</b> Thu, Jul 7th, 2011 </div>
        <div id="datemeta_r"><a href="#" title="View all posts in Featured" rel="category tag">Featured</a> / <a href="#" title="View all posts in Movie Reviews" rel="category tag">Movie Reviews</a> | By <b><a href="#" title="View all posts by Matt">Matt </a></b>    </div>
        <div class="cb"></div>
    </div>




    <div class="post">



        <h1 class="posttitle">  Transformers: Dark of the Moon Movie Review</h1>






        <div class="entry">

            <div id="metabox"><div id="metabox_share">Share This</div>
                <div class="share">
                    <ul> <li><a href="#">
                                <img src="images/delicious.png" alt="" border="0"></a></li>
                        <li><a href="#">
                                <img src="images/facebook(1).png" alt="" border="0"></a>
                        </li>
                        <li><a href="#" target="_blank">
                                <img src="images/friendfeed.png" alt="" border="0"></a> </li>
                        <li><a href="#">
                                <img src="images/google.png" alt="" border="0"> </a>
                        </li>
                        <li><a href="#">
                                <img src="images/reddit.png" alt="" border="0"> </a>
                        </li>

                        <li><a href="#">
                                <img src="images/myspace.png" alt="" border="0"> </a>
                        </li>

                        <li><a href="#"><img src="images/stumbleupon(1).png" alt="" border="0"></a></li>

                        <li><a href="#"><img src="images/technorati.png" alt="" border="0"></a></li>

                        <li style="margin-left:9px;"><a href="#"><img src="images/subscribe_rss.png" alt="" border="0"></a></li>
                    </ul> </div>
                <div class="ptags"><span class="ptags_heading">Tags</span>
                    <div style="margin-top:5px;text-align:center;"><a href="#" rel="tag">John Malkovich</a><a href="#" rel="tag">Josh Duhamel</a><a href="#" rel="tag">Ken Jeong</a><a href="#" rel="tag">Michael Bay</a><a href="#" rel="tag">Shia LaBeouf</a><a href="#" rel="tag">Tyrese Gibson</a></div>
                </div>
            </div>			  <p>After he’s cleared of sexual harassment at the end of the classic Simpsons episode, Homer Badman, Homer J. Simpson turns to his wife, and gleefully announces, “Marge, my friend, I haven’t learned a thing.”</p>
            <p>Michael Bay is Homer Simpson. Not superficially, of course – he has a gorgeous head of lovely, flowing hair, and he’s not yellow. But when it comes to avoiding the same mistakes that beset 2009’s Transformers: Revenge Of The Fallen for this third (and final?) instalment of his toy-based blockbuster trilogy, he hasn’t learned a thing.</p>
            <p><img class="alignnone size-full wp-image-655" title="transformers-dark-of-the-moon-movie-poster" src="images/transformers-dark-of-the-moon-movie-poster.jpg" alt="" width="450" height="673"></p>
            <p>OK, admittedly the alarmingly racist robots, Skids and Mudflap, are gone, and there are no disconcerting close-ups of giant robot balls. But that still doesn’t prevent what remains from being, well, giant robot balls.</p>
            <p>Exposition scenes are still choppy as hell, the writing is lazy, the plot turns brazen and in bad taste (Chernobyl was caused by Decepticons) the film is overloaded with a cavalcade of superfluous supporting players (look! It’s Josh Duhamel as Captain Wotsit! Huzzah! Here comes Tyrese Gibson as Thingummy!), and there’s an oafish insistence on cheap-seats comedy relief that leaves actors like John Malkovich (as Sam’s scary new boss), Alan Tudyk (as John Turturro’s fey personal assistant) and Ken Jeong (running through his tired old schtick one more time) desperately mugging. It does lead, though, to the year’s most welcome death scene.</p>
            <p>That’s the bad news. The good news is that Dark Of The Moon is better than Revenge Of The Fallen. But not by much.</p>
            <p>That upturn is testament to its last 45 minutes, in which Bay drops the Homer impression and does his best stab at Michael Bay. For, when all’s said and done, not many directors can handle large-scale action like he can, and the climactic Bayhem, in which the Decepticons occupy Chicago and transform (ten points!) it into a smoking ruin, is stunning. Price-of-admission-alone stunning, as teams of winged base-jumpers dive out of planes and plummet past skyscrapers; those same buildings lurch to 90-degrees in a series of vertiginous shots that will have you clutching your chair (the 3D, probably the best deployment of the form since Avatar, helps here); and giant robots, of course, kick the living oil out of each other.&nbsp; <img class="size-full wp-image-653 alignleft" title="Transformer-3-Dark-of-the-Moon-2" src="images/Transformer-3-Dark-of-the-Moon-2.jpg" alt="" width="640" height="466"></p>
            <p>For a movie squarely aimed at teens, it’s extraordinarily violent. Humans are reduced to smoking skeletons by alien attacks, but the likes of Optimus Prime (when he’s not giving sanctimonious speeches, Jerry Springer-style) and Megatron (almost completely wasted) save the toughest treatment for themselves. Heads are lopped off, spinal columns are ripped out, and several are executed with shotgun blasts to the head, gangland-style, in a manner that suggests that this is the final instalment, at least for a while. If this action were human-on-human, we’d have the next Human Centipede 2 on our hands. Best not show this to your Roomba, though – it’ll be traumatized.</p>
            <p>The first Transformers has its flaws, but it did have its charms. LaBeouf’s Sam Witwicky was an intriguing hero, like Woody Allen was parachuted into an action flick. Dark Of The Moon is mostly charmless, however – for the first (surprisingly action-lite, slow-moving) hour, Sam is a moaning, presumptuous brat whose relationship with his new girlfriend (Huntington-Whiteley) is so shabbily-defined that it’s hard to sympathise with him. A boy getting his first car is relatable; a young man throwing a tantrum because his impossibly hot girlfriend has a hotter boss is not.</p>
            <p>As for Huntington-Whiteley, the much-trumpeted replacement for Megan Fox (dismissed with an amusing, “She was a bitch. We didn’t like her.”), Bay introduces her with a self-parodying shot of her barely-clad bottom and it’s all downhill from there. You’ll believe a robot can fly, but you won’t believe a Huntington-Whiteley can talk.</p>



        </div>
    </div>




    <center style="font-weight: bold;"></center>










    <div id="authorarea">

        <h3>About the Author</h3>

        <img alt="" src="images/11822504_917881978258118_3609850661414236466_n.jpg" class="avatar avatar-40 photo" height="40" width="40">


        <div class="authorinfo">



            <p><b><a href="#" title="Posts by Matt" rel="author">Matt</a></b> - Biographical Info - Share a little biographical information to fill out your profile. This may be shown publicly.</p>



        </div>



    </div>





    <div id="related" class="clearfix">




        <div id="relatednews"><div id="relatednewsh2">Related News</div>
            <div style="float:right;height:19px;margin-right:10px;">
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style ">
                    <a href="#" class="addthis_button_facebook_like at300b" fb:like:layout="button_count"><div class="fb-like fb_iframe_widget" data-layout="button_count" data-show_faces="false" data-share="false" data-action="like" data-width="90" data-height="25" data-font="arial" data-href="http://magazine3.com/demo/newspapertimes/transformers-dark-of-the-moon-movie-review/" data-send="false" style="height: 25px;" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=0&amp;font=arial&amp;height=25&amp;href=http%3A%2F%2Fmagazine3.com%2Fdemo%2Fnewspapertimes%2Ftransformers-dark-of-the-moon-movie-review%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;share=false&amp;show_faces=false&amp;width=90"><span style="vertical-align: bottom; width: 78px; height: 20px;"><iframe name="f20c55b829f4e9" width="90px" height="25px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="images/like.html" style="border: none; visibility: visible; width: 78px; height: 20px;" class=""></iframe></span></div></a>
                    <a href="#" class="addthis_button_google_plusone at300b" g:plusone:size="medium"><div class="google_plusone_iframe_widget" style="width: 90px; height: 25px;"><span><div id="___plusone_1" style="text-indent: 0px; margin: 0px; padding: 0px; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 90px; height: 20px; background: transparent;"><iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1467704269119" name="I0_1467704269119" src="images/fastbutton.html" data-gapiattached="true" title="+1"></iframe></div></span></div></a>
                    <a href="#" class="addthis_button_tweet at300b"><div class="tweet_iframe_widget" style="width: 62px; height: 25px;"><span><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="http://platform.twitter.com/widgets/tweet_button.b7de008f493a5185d8df1aedd62d77c6.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fmagazine3.com%2Fdemo%2Fnewspapertimes%2Ftransformers-dark-of-the-moon-movie-review%2F&amp;size=m&amp;text=Transformers%3A%20Dark%20of%20the%20Moon%20Movie%20Review&amp;time=1467704272451&amp;type=share&amp;url=http%3A%2F%2Fmagazine3.com%2Fdemo%2Fnewspapertimes%2Ftransformers-dark-of-the-moon-movie-review%2F%23.V3tjv2V65NM.twitter" style="position: static; visibility: visible; width: 60px; height: 20px;" data-url="http://magazine3.com/demo/newspapertimes/transformers-dark-of-the-moon-movie-review/#.V3tjv2V65NM.twitter"></iframe></span></div></a>
                    <a class="addthis_counter addthis_pill_style addthis_nonzero" href="#" style="display: inline-block;"></a><a href="#" class="atc_s addthis_button_compact"><span></span></a><a class="addthis_button_expanded" target="_blank" title="View more services" href="http://magazine3.com/demo/newspapertimes/transformers-dark-of-the-moon-movie-review/#">2</a>
                    <div class="atclear"></div></div>
                <script type="text/javascript" src="images/addthis_widget.js"></script>
                <!-- AddThis Button END -->
            </div>
            <div class="cb"></div></div>


        <div class="related">

            <div class="relatedpost">

                <a href="#"><img width="150" height="125" src="images/Marco-Simoncelli-topped-the-times-in-the-second-practice-German-Grand-Prix-150x125.jpg" class="attachment-relatedimg wp-post-image" alt=""></a>







                <h3><a href="#" rel="bookmark" title="Marco Simoncelli topped the times in the second practice German Grand Prix.">Marco Simoncelli topped the times in the second practice German Grand Prix.</a></h3>







            </div>







        </div>







        <div class="related">

            <div class="relatedpost">

                <a href="#"><img width="150" height="125" src="images/Why-Japanese-bartenders-are-the-worlds-best-150x125.jpg" class="attachment-relatedimg wp-post-image" alt=""></a>







                <h3><a href="#" rel="bookmark" title="Why Japanese bartenders are the world’s best">Why Japanese bartenders are the world’s best</a></h3>







            </div>







        </div>







        <div class="related">

            <div class="relatedpost">

                <a href="#"><img width="150" height="125" src="images/watermelon_slice-150x125.jpg" class="attachment-relatedimg wp-post-image" alt=""></a>







                <h3><a href="#" rel="bookmark" title="What to Eat to Beat Skin Cancer">What to Eat to Beat Skin Cancer</a></h3>







            </div>







        </div>







        <div class="related">

            <div class="relatedpost">

                <a href="#"><img width="150" height="125" src="images/delhi-belly-movie-poster-150x125.gif" class="attachment-relatedimg wp-post-image" alt=""></a>







                <h3><a href="#" rel="bookmark" title="Delhi Belly Movie Review by Pankaj Sabnani">Delhi Belly Movie Review by Pankaj Sabnani</a></h3>







            </div>







        </div>






        <div class="cb"></div>







    </div>





    <div id="comment_wrapper">

        <!-- You can start editing here. -->
        <div class="comments-box"> <a href="#" name="comments" id="comments"></a>
            <div id="displaying">Displaying 2 Comments  </div>
            <div id="haveyoursay">Have Your Say  </div>
            <div class="cb"></div>
            <ol class="commentlist">
                <li class="comment even thread-even depth-1" id="comment-35">
                    <div id="div-comment-35" class="comment-body">
                        <div class="comment-author vcard">
                            <img alt="" src="images/11822504_917881978258118_3609850661414236466_n.jpg" class="avatar avatar-35 photo" height="35" width="35">			<cite class="fn"><a href="#" rel="external nofollow" class="url">Peter</a></cite> <span class="says">says:</span>		</div>

                        <div class="comment-meta commentmetadata"><a href="#">
                                July 30, 2011 at 11:28 pm</a>		</div>

                        <p>Very nice them.  Thinking of using this for a new project. </p>

                        <div class="reply">
                            <a class="comment-reply-link" href="#" onclick="return addComment.moveForm(&quot;div-comment-35&quot;, &quot;35&quot;, &quot;respond&quot;, &quot;650&quot;)">Reply</a>		</div>
                    </div>
                </li><!-- #comment-## -->
                <li class="comment odd alt thread-odd thread-alt depth-1" id="comment-5752">
                    <div id="div-comment-5752" class="comment-body">
                        <div class="comment-author vcard">
                            <img alt="" src="images/11822504_917881978258118_3609850661414236466_n.jpg" class="avatar avatar-35 photo" height="35" width="35">			<cite class="fn"><a href="#" rel="external nofollow" class="url">forex</a></cite> <span class="says">says:</span>		</div>

                        <div class="comment-meta commentmetadata"><a href="#">
                                September 16, 2013 at 4:38 am</a>		</div>

                        <p>i like this theme sure will try it</p>

                        <div class="reply">
                            <a class="comment-reply-link" href="#" onclick="return addComment.moveForm(&quot;div-comment-5752&quot;, &quot;5752&quot;, &quot;respond&quot;, &quot;650&quot;)">Reply</a>		</div>
                    </div>
                </li><!-- #comment-## -->
            </ol>
            <div class="navigation">
                <div class="left">
                </div>
                <div class="right">
                </div>
            </div>

            <div id="respond">
                <h2 style="margin-top: 8px;">Leave a comment</h2>
                <div class="cancel-comment-reply"> <small>
                        <a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">Click here to cancel reply.</a>      </small> </div>
                <form action="http://magazine3.com/demo/newspapertimes/wp-comments-post.php" method="post" id="commentform">
                    <p>     <input class="author" type="text" value="Your Name..." onclick="this.value='';" name="author" id="author" size="22" tabindex="1">
                        <label for="author"><small>
                                (Required)        </small></label>  </p>    <p>
                        <input class="email" type="text" value="Your Email..." onclick="this.value='';" name="email" id="email" size="22" tabindex="2">
                        <label for="email"><small>(Will not be published)
                                (Required)        </small></label>
                    </p>
                    <p>
                        <input class="url" type="text" value="Your Website..." onclick="this.value='';" name="url" id="url" size="22" tabindex="3">
                        <label for="url"><small>(Optional)</small></label>
                    </p>
                    <p>
                        <textarea name="comment" id="comment" tabindex="4"></textarea>
                    </p>        <p><small><strong>XHTML:</strong> You can use these html tags: <code>&lt;a href="" title=""&gt; &lt;abbr title=""&gt; &lt;acronym title=""&gt; &lt;b&gt; &lt;blockquote cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=""&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=""&gt; &lt;strike&gt; &lt;strong&gt; </code></small></p>
                    <p>        <input class="submit" name="submit" type="submit" id="submit" tabindex="5" value="Submit Comment">
                        <input type="hidden" name="comment_post_ID" value="650" id="comment_post_ID">
                        <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                    </p>
                    <p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="ac784403b1"></p>    </form>
            </div>
        </div></div>




</div>
{% endblock %}
