<div id="colorcontentblock">
    <div id="colorcontenth3_small" class="custom7"><a href="#" title="">International</a></div>
    <div id="colorcontentwrap7_l">
        <div id="colorcontentwrap7">
            <h2><a href="#" rel="bookmark">Egyptians extend protest, say army not doing enough</a></h2>
            <a href="#"><img width="220" height="146" src="{{ asset('bundles/front/images/Egyptians-extend-protest-say-army-not-doing-enough-220x146.jpg')}}" class="attachment-colorcontentblock6 " alt="" /></a>

            <p>
                CAIRO (Reuters) &#8211; Thousands of Egyptians packed Cairo&#8217;s Tahrir Square on Friday, keeping up pressure&nbsp;<a href='#'>More...</a></p>
            <div class="cb"></div>
        </div>
    </div>
    <div id="colorcontentwrap7_r">
        <div id="colorcontentwrap7_a">
            <h2><a href="#" rel="bookmark">India doesn&#8217;t let blasts derail Pakistan talks</a></h2>
            NEW DELHI (AP) — India brushed off speculation tying the Mumbai bombings to Pakistan and said Friday it remained committed to..
            <div class="cb"></div>
        </div>
        <div id="colorcontentwrap7_a">
            <h2><a href="#" rel="bookmark">3 US ships in Vietnam to train with former foe</a></h2>
            DANANG, Vietnam (AP) — Three U.S. Navy ships were welcomed Friday by former foe Vietnam for joint training, despite China&#8217;s irritation..
            <div class="cb"></div>
        </div>
    </div> <div class="cb"></div>
</div>
