<div id="colorcontenth3_small" class="custom9"><a href="#" title="">Code phare</a></div>

<div id="colorcontentwrap9">
    <h3><a href="#" rel="bookmark">Menu descriptions that make me salivate</a></h3>
    <a href="#"><img width="320" height="190" src="{{ asset('bundles/front/images/Slow-roasted-sturgeon-at-Wexlers-Lacy-Atkins-The-San-Francisco-Chronicle-2009-320x190.jpg')}}" class="attachment-colorcontentblock9 " alt="" /></a>
    I study menus every night, so I should be immune to their literary charms. However, a few well chosen words can..
    <div class="cb"></div>
</div>

<div id="colorcontentwrap9">
    <h2><a href="#" rel="bookmark">Kellogg To Curb Kids&#8217; Unhealthy Food Ads</a></h2>
    <div class="cb"></div>
</div>
<div id="colorcontentwrap9">
    <h2><a href="#" rel="bookmark">Starbucks Bistro Boxes Take On Chain Restaurant Dishes</a></h2>
    <div class="cb"></div>
</div>
<div id="colorcontentwrap9">
    <h2><a href="#" rel="bookmark">French Beauties for Bastille Day</a></h2>
    <div class="cb"></div>
</div>