{% for article in listearticle %}
<div class="home-post-wrap">
    <div class="thumbnail-div" style="">
        <a href="article/{{ article.titre }}" title=""><span class="header"><img width="216" height="125" src="{{ asset('uploads/img/')}}{{ article.image }}" class="attachment-featgalimg " alt="" /></span>      </a>
    </div>
    <h2><a href="#" title="" class="the2title">{{ article.titre }}</a> </h2>
</div>
{% endfor %}


