<div class="featbig">
    <h2 style="min-height:58px;"><a href="#" title="">Dalai Lama Visit: President Obama Meets Spiritual Leader, China Complains</a></h2>
    <a href="#" title=""><img src="{{ asset('bundles/front/images/President-Obama-and-Dalai-Lama-418x215.jpg')}}" alt="" width="418" height="" /></a>

    <p>WASHINGTON &#8212; President Barack Obama held a White House meeting Saturday with the Dalai Lama, a fellow Nobel Peace laureate, hours after China called on the U.S. to rescind an invitation that could&nbsp;<a href='#'>More...</a></p>
    <div id="featbig-author">by <a href="#" title="">Matt</a> | Published 5 years ago</div>

    <div id="featsmall">
        <h2><a href="#" title="">A Texas Two-Step: When Rick Perry Backed Al Gore</a></h2>
        <h2><a href="#" title="">News Corp. Reports $125K In 2011 Political Donations</a></h2>
    </div>
    <div class="cb"></div>
</div>
