<div id="colorcontentblock">

    <div id="colorcontenth3" class="custom2">Sciences<br/></div>
    <a href="#"><img width="384" height="217" src="{{ asset('bundles/front/images/Going-After-Michele-Bachmann-Ahead-Of-2012-Has-Its-Risks-384x217.jpg')}}" class="attachment-colorcontentblock2 " alt="" /></a>
    <div id="colorcontentwrap2">
        <h2><a href="#" rel="bookmark">Going After Michele Bachmann Ahead Of 2012 Has Its Risks</a></h2>
        <p>ST. PAUL, Minn. &#8212; For Michele Bachmann, the laugh line doubled as a clear message that she thinks she&#8217;s ready for the rough-and-tumble of presidential politics.
            &#8220;I&nbsp;<a href='#'>More...</a></p>
        <div class="cb"></div>
    </div>

    <div id="colorcontentwrap2">
        <h2><a href="#" rel="bookmark">Minnesota Shutdown Sees Light At The End Of The Tunnel</a></h2>

        <p>Minnesota Gov. Mark Dayton and top Republicans struck a deal Thursday to end a budget impasse that prompted the state government to shut down, with the Democratic governor giving&nbsp;<a href='#'>More...</a></p>
        <div class="cb"></div>
    </div>

</div>
