<ul>
    <div class="menu-header">
        <ul id="menu-menu" class="menu">
            {% for categorie in categories %}
                <li><a href="/categorie/{{ categorie.nom }}" title="">{{ categorie.nom }}</a></li>
            {% endfor %}

        </ul>
        <div class="cb"></div>
    </div>
</ul></div>