<div id="colorcontenth3">
    <a href="#" title="">Pros du week-end</a>
</div>
<div class="tabs">
    <ul class="tabs">
        {% for pro in articlesblock13 %}
        <li><a href="#{{ pro.motcle|striptags }}">{{ pro.motcle|striptags }}</a></li>
        {% endfor %}
    </ul>
    {% for pro in articlesblock13 %}
    <div class="tab_content" id="{{ pro.motcle|striptags }}">
        {{ pro.contenu|striptags[:200]|raw }}
    </div>
    {% endfor %}
</div>
