<div id="colorcontenth3">
    <a href="#" title="">SERVICES</a>
</div>
<div id="slides2">
    <div class="slides_container">
        <div class="slide">
            <img src="{{ asset('bundles/front/images/sous.jpg')}}" alt=""/>
        </div>

        <div class="slide">
            <div style="padding:30px" class="text">
                <h2 style="margin-bottom:1px;">Police secours</h2>
                <p>017</p>
                <p>0320000000</p>
                <p>0330000000</p>
                <p>0340000000</p>
                <p>0390000000</p>
            </div>
        </div>
        <div class="slide">
            <div style="padding:30px" class="text">
                <h2 style="margin-bottom:1px;">Cous de change</h2>
                <p>Euro : 2500</p>
                <p>Dolar : 2500</p>
                <p>Yen : 1500</p>
            </div>
        </div>
    </div>
</div>
